body
{
    background-image: url('ad.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px)
}
h1
{
    text-align: center;
    font-size: 40px;
    color:purple;
}
.navigation
{
    text-align: center;
}
a
{
    display:list-item;
    padding: 8px 16px;
    margin: 5px;
    border: 2px solid purple;
    color:lightcoral;
    background-color:grey;
}
.admin
{
    display: flex;
    gap: 20px;
    width: 150%;
    margin-left: 100px;
    margin-bottom: 100px;
}
.team
{
    background-color:plum;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.team img 
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
footer
{
    background-color:yellowgreen;
    text-align: center;
    color: white;
    height: 25px;
    font-size: larger;
}
