body
{
    background-image: url('HOM.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    color:blueviolet;
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav
{
    text-align: center;
}
a
{
    display:list-item;
    padding: 8px 16px;
    margin: 5px;
    border: 2px solid purple;
    color:red;
    background-color:grey;
}
h2
{
    color: plum;
    padding: 50px;
    font-size: 30px;
    text-align: center;
}
h3
{
    background-color:plum ;
    padding:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:purple;
    border: 5px solid purple;
    font-style: italic;
    margin: 20px ;
    border-radius: 5px;
    width: 650px;
    margin-left: 400px;
    margin-bottom: 130px;
    align-items: center;
}
footer
{
    background-color:yellowgreen;
    text-align: center;
    color: white;
    height: 25px;
    font-size: larger;
}
